/*标签选择器*/
div{
	width: 1000px;
	height: 100px;
	background-color:yellow;
	margin-top: 10px;
}
p{
	width: 1000px;
	height: 100px;
	background-color:yellow;
	margin-top: 10px;
}
/*类选择器*/
.box2{
	background-color: green;
	width: 200px;
}
/*id选择器*/
#s4{
	background-color: red;
	width: 300px;
}
