*{
	margin: 0;
	padding: 0;
}

.box{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid red;
	
}
.tu{
	width: 125px;
	height: 125px;
	float: left;
	
}
.tu:hover{
	transform: scale(1.2) translateY(-15px);;
	transition: all 0.3s;
	box-shadow: 0px 5px 15px black;
}
